<h1>Signals in Angular</h1>

<p>Contador: {{ count() }}</p>

<button (click)="increment()">Increment</button>

<button (click)="toggle()">Show/Hide text</button>

@if (isVisible()) {
  <p>This text depends on the state</p>
}

<h2>Day 5 Users</h2>

<button (click)="users.loadUsers()">Load users</button>

@if (users.loading()) {
  <p>Loading...</p>
} @else if (users.error()) {
  <p>{{ users.error() }}</p>
} @else if (users.users().length === 0) {
  <p>No data</p>
} @else {
  @for (user of users.users(); track user.id) {
    <p>{{ user.name }}</p>
  }
}

<!--Progress day 3-->
<h2>Day 3</h2>
<!-- Display counter value from the shared service -->
<app-counter></app-counter>
